# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg

# Env
.env
*.env

# Data
data/*.db
data/*.csv
data/*.json

# Logs
*.log
logs/

# Docker
*.pid

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
